*{
    margin:0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    max-width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background:grey;
    border-radius: 10px;
}
.mainContainer{
    height: 100%;
    padding: 0 10vw;
    width: 100%;
}
#image>img{
    width: 100%;
    height: 90px;
}
.mainContainer>h1{
    text-transform: capitalize;
    font-size: 60px;
    text-align: center;
    line-height: 74px;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#222222;
}
.mainContainer>h3{
    color:#222222;
    font-size: 23px;
    line-height: 100px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#searchBar{
    display: flex;
    /* border: 1px solid red; */
    width: 63%;
    height: 55px;
    margin: auto;
    border:3px solid rgb(195 191 191 / 80%);
    /* box-shadow: 0 0 30px 1px rgba(128, 128, 128, 0.616); */

}

#searchBar>input{
    width: 90%;
    height: 100%;
    border: none;
    font-size: 25px;
    outline: none;
    text-indent: 15px;
}
#searchBar>input::placeholder{
    color: #999292;
    padding: .5em .65em;
    font-size: 21px;
}
#searchBar>input:focus{
    border-bottom-color:1px solid chartreuse;
    box-shadow: inset 0 0 20px rgba(139, 136, 136, 0.404);
}
#searchBar>button{
    width: 10%;
    height: 100%;
    outline: none;
    border: none !important;
    font-size: 20px;
    background:rgb(255, 115, 0);
    color: white;
}
#searchBar>button:hover{
    cursor: pointer;
}
nav{
    width: 100%;
    display: flex;
    /* border: 5px solid green; */
    height: 8vh;
    margin: 7vh auto;
    justify-content: space-between;
    border-bottom: 3px solid rgba(194, 184, 184, 0.692);
}
nav>ul{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    height: 100%;
    width: 40%;
    font-size: 30px;
}
nav>ul>a>li{
    list-style: none;
    line-height: 1.5em;
    color: #413d3dd0;
}
nav>ul>a{
text-decoration: none;
}
nav>ul>a>li:hover{
    color: #222222;
}
nav>ul>a:hover{
    border-bottom: 4px solid greenyellow;
}
nav>button{
    /* background-color: rgb(225, 227, 230); */
    color:rgb(36 ,134, 250);
    height: 55px;
    width: 120px;
    cursor: pointer;
    padding: 10px 10px 10px 19px;
    font-size: x-large;
    border: 9px solid #ececec;
    display: flex;
    border-radius: 5000px;
    border: 4px solid rgba(221, 218, 218, 0.945);
    box-shadow: inset 0 0 15px rgb(255, 255, 255);
    transform: translate(-50%,-50%);
}
nav>button:hover{
    box-shadow: inset 0 0 15px rgb(148, 145, 145);
}

.currentPage{
    border-bottom: 5px solid rgb(255, 196, 0);
}
.cards{
    height: 100vh;
    display: grid;
    grid-gap: 50px;
    grid-template-areas: "mainCardLeft mainCardRight";
}
.main-card-left{
    grid-area: "mainCardLeft";
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-image: linear-gradient(to bottom,
        rgb(248, 7, 7),yellow, rgb(39, 192, 39),rgb(0, 4, 255)
    )1 100%;
    border-left: 6px solid blue;
}
.main-card-left>div{
    display: flex;
    max-height: 35%;
    overflow: hidden;
    border-bottom: 2px solid rgb(201, 198, 198);
}
.main-card-right{
    grid-area: "mainCardRight";
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.main-card-right>div{
    display: flex;
    max-height: 35%;
    border-bottom: 2px solid rgb(201, 198, 198);
}
.card-right{
    width: 20%;
    height: 100%;
}
#upper-border{
    border-top: 3px solid rgb(141, 141, 141);   
}
#heading > h2{
    font-size: 24px;
}
.card-left{
    grid-template-areas: "heading"
    "para";
    grid-gap: 10px;
    max-width: 80%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(240, 239, 239, 0.815); */
    overflow: hidden;
    padding: 10px;
}
#heading{
    grid-area: "heading";
    font-size: 20px;
}
#para{
    grid-area: "para";
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: medium;
    -webkit-box-orient:vertical;
    color: #696464;
}
.card-right{
    display: flex;
    justify-content: center;
    padding: auto;
    padding-top: 20px;
    font-size: medium;
    color: grey;
}
#cardGapBetween{
    margin: 0px 0 15px 0;
}

@media screen and (max-width: 780px) {
    .mainContainer{
        padding: 0;
    }
    .mainContainer>h1{
        font-size: 53px;
        font-weight: 400;
    }
    .mainContainer>h3{
        line-height: 25px;
        font-size: 23px;
        margin-bottom:25px;
        margin-top: 20px;
    }
    #searchBar{
        width: 80%;
        height: 40px;
    }
    #searchBar>input::placeholder{
        font-size: 15px;
        text-indent: 2px;
    }
    #searchBar>button{
        width: 15%;
    }
    nav>button{
        position: absolute;
        bottom: 10px;
        right: 0;
        border-radius:80%;
        width: 70px;
        height: 70px;
        align-items: center;
        padding: 0;
    }
    nav>button>i{
        margin: auto;
    }
    nav>ul{
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    nav>ul>a>li{
        font-size: 20px;
    }
    #addButton{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .main-card-right{ 
        border-image: linear-gradient(to bottom,
        rgb(248, 7, 7),yellow, rgb(39, 192, 39),rgb(0, 4, 255)
        )1 100%;
        border-left: 6px solid blue;
    }
}
