* {
  padding: 0;
  margin: 0;
}
nav {
  background-color: #212529;
}
#home-body {
  overflow: hidden;
  background-color: rgba(150, 150, 150, 0.2);
}

.fh-navbar {
  width: 100%;
  height: 60px;
}
.fh-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 6vw;
}
.fh-nav-options {
  height: 60px;
  margin: 0px;
  width: 20vw;
  line-height: 60px;
  padding: 0px 5%;
  color: white;
  text-align: center;
}
.fh-navbar-a {
  text-decoration: none;
  color: white;
}
.active {
  border-bottom: 5px solid white;
}
#fh-profile {
  display: none;
}
.fh-profile {
  z-index: +3;
  transition: 0.5s all;
  position: absolute;
  top: 5px;
  animation-name: profile;
  animation-duration: 0.5s;
}

.fh-sidebar {
  width: 400px;
  height: 150vh;
  position: relative;
  top: -33vh;
  left: -400px;
  border-radius: 50%;
  background-color: #3b84f6e0;
  padding: 50vh 0px;
  z-index: +2;
  overflow-x: hidden;
  transition: 0.5s width ease-out;
}
.fh-sidebar-list {
  float: right;
  color: white;
  width: 250px;
  height: 45vh;
  list-style-type: none;
  padding: 0px !important;
  text-indent: 10px;
}
.fh-sidebar-option {
  padding: 15px 0px;
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid white;
}
iframe {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
  height: calc(100vh - 60px);
  z-index: 0;
  overflow-x: hidden;
}
