* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Gluten", cursive;
}
#main {
  display: none;
}
body {
  background-image: url("../util/LOGIN\ BACKGROUND.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mobile-heading {
  display: none;
}
.login-container {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  margin: 20px 0px;
  display: flex;
  height: 65vh;
}
.login > h2 {
  color: #7975e7;
  margin: 0px;
  margin-top: 15px;
}
.input {
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 10px;
  width: 90%;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  color: black;
  border-bottom: 1px solid black;
}
.input-field {
  position: relative;
  margin-top: 10px;
}
.remember-field {
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 0px;
}
.forgot {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.border {
  width: 0px;
  position: absolute;
  bottom: 0px;
  height: 2px;
  background-color: #7975e7;
  left: 0px;
}
.input:focus {
  border-bottom: none;
  background-color: #eaeaf3;
}
.input-field:focus-within {
  color: #7975e7;
}
.input:focus ~ .border {
  transition: 0.3s;
  width: 90%;
}
.photo {
  position: relative;
  top: 50px;
  left: -10px;
  width: 80%;
  height: 50%;
}
.image,
.login {
  width: 25vw;
  min-width: 250px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
input[type="checkbox"] {
  margin-right: 10px;
}
input[type="submit"] {
  background-color: #7975e7;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 0px;
  outline: none;
  margin-top: 10px;
  box-shadow: 0px 2px 10px 2px #979bf9;
}
.image {
  border-radius: 10px 0px 0px 10px;
  color: white;
  background-color: #7975e7;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-bottom: 0px;
}
.footer {
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .image > h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 435px) and (max-width: 600px) {
  body {
    background-image: none;
    background: linear-gradient(150deg, #6b6fe2 50%, #cdd7f3);
    background-repeat: no-repeat;
    height: 100vh;
  }
  #mobile-form{
    display:none;
  }
  .image {
    display: none;
  }
  .input {
    width: 100%;
  }
  .input:focus ~ .border {
    width: 100%;
  }
  #mobile-heading {
    display: block;
    color: white;
    font-size: large;
    text-align: center;
  }
  input[type="submit"] {
    align-items: center;
    width: 100%;
    top: 10px;
    position: relative;
  }
  .remember-field {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  .login {
    width: 100%;
  }
  .footer {
    font-size: small;
  }
}
@media screen and (max-width: 435px) {
  #main-container {
    display: none;
  }
  #form{
    display:none;
  }
  body{
    background: none;
    overflow: hidden;
  }
  #main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgb(52, 48, 163), #a3d8f4);
    overflow: hidden;
  }
  #main > h1 {
    height: 23%;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 5vh;
    color: aliceblue;
    font-family: "Norican", cursive;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: capitalize;
  }
  #main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30vh;
  }

  .in {
    margin-top: 10px;
    padding: 9px;
    font-size: 16px;
    align-items: center;
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: inset 0px 0px 35px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    text-indent: 10px;
  }
  .in::placeholder {
    color: white;
    text-transform: capitalize;
  }
  #rem {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 100%;
    color: white;
  }
  #forgot {
    text-decoration: none;
    color: white;
  }
  .packet{
    overflow: hidden;
    width: 100%;
  }
  #follow {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 200vw;
    left: -50vw;
    position: absolute;
    height: 100vw;
    top: 70vh;
    border-radius: 50%;
  }
  #mobile-form button {
    position: absolute;
    top: 67vh;
    z-index: +10;
    background-color: white;
    border:none;
    height: 45px;
    width: 45px;
    box-shadow: 0px 0px 15px 1px rgba(41, 39, 39, 0.466);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fas {
    font-size: 18px;
    color: rgb(0, 68, 255);
  }
  .fab {
    font-size: xx-large;
    cursor: pointer;
  }
  #social {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 90%;
    width: 100%;
    padding: 0px 40%;
  }
  #social a {
    text-decoration: none;
    color: #6170f5;
    margin: 0px 20%;
  }
}
@media screen and (max-width: 320px) {
  body{
    min-width: 320px;
  }
}