body {
  /* overflow: hidden; */
  margin: 0px 60px 0 60px;
}
.fh-winner-card {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  /* margin: 5%; */
}
.fh-card {
  overflow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30vw;
  margin: 2%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(50, 50, 50, 0.5);
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7579e7,
    #9ab3f5,
    #a3d8f4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7579e7,
    #9ab3f5,
    #a3d8f4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fh-card > * {
  width: 35%;
}
.fh-card-text {
  font-size: x-large;
  font-weight: bolder;
  color: whitesmoke;
  white-space: nowrap;
}
.fh-card-body {
  width: fit-content;
  margin-left: 20px;
}
.fh-card-rank {
  color: black;
  font-weight: bolder;
  font-size: 55px;
}
/* #fh-silver-card {
  margin-top: 4%;
}
#fh-bronze-card {
  margin-top: 7%;
} */
.fh-image {
  transform: scale(0.7);
  filter: drop-shadow(5px 5px 5px #222);
}
#fh-bronze-image {
  transform: scale(0.6);
}
#fh-silver-image {
  transform: scale(0.8);
}
.fh-gold-and-silver {
  display: flex;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.fh-search-bar-container {
  padding: 15px 2vw;
  display: flex;
  justify-content: space-evenly;
}
.fh-search-form {
  position: relative;
  background-color: white;
  width: 600px;
  max-width: 80%;
}
.fh-search {
  width: 100%;
  border: none;
  height: 40px;
  outline: none;
  text-indent: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.fh-search:focus {
  background-color: #96adf622;
}
.fh-submit {
  position: absolute;
  outline: none;
  width: 50px;
  height: 40px;
  border: none;
  color: white;
  z-index: +10;
  right: 0px;
  background-color: royalblue;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
#table-search {
  text-align: center;
}
@media (max-width: 425px) {
  .fh-card {
    width: 100%;
    height: 115px !important;
    text-align: center;
  }
  .fh-winner-card {
    display: flex;
    flex-direction: column;
  }
  .fh-gold-and-silver {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  /* .fh-card-text {
    font-size: small;
    font-weight: bolder;
    color: whitesmoke;
    white-space: nowrap;
  }
  .fh-card-rank {
    color: black;
    font-weight: bolder;
    font-size: 55px;
  } */
  .fh-card {
    width: 28vw;
    height: 130px;
  }
  .fh-winner-card {
    display: flex;
    flex-direction: column;
  }
  .fh-gold-and-silver {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .fh-card-text {
    font-size: 77%;
    font-weight: bolder;
    color: whitesmoke;
    white-space: nowrap;
  }
  .fh-card {
    height: 130px;
  }
}
